.tema{
  margin: auto;
  text-align: center;
}
.texto1{
    background-color: ghostwhite;
    text-decoration-line: random($limit: 1);
   
   
  margin: auto;
  width: 500px;

}

.texto2{
    background-color: rgb(131, 131, 150);
    
   
  margin: auto;
  width: 500px;

}

.texto3{
    background-color: ghostwhite;
    text-decoration-line: random($limit: 1);
   
   
  margin: auto;
  width: 500px;

}