<div class="page-footer estilo-fonte font-small bg-rodape p-0 fixed">
    <div class="container">
      <div class="row">
        <div class="col-md-12 d-flex  justify-content-center">
          <h5 class="text-dark mt-3">Nossas redes sociais:</h5>
        </div>
      </div>
  
  
    <div class="footer-copyright estilo-fonte bg-line text-center py-3">
      <span class="text-dark"> © 2022 Copyright: </span>
      <a class="text-dark" target="_blank" href="">
        lorem Ipsum
      </a>
    </div>
  
  
    </div>